

:root {
/* Colors */
    --white:       #ffffff;
    --black:       #0a0a0a;
    --grey-light:  #f4f4f4;
    --grey:        #9ca3af;
    --grey-dark:   #374151;

    --blue-light:  #93c5fd;
    --blue:        #2563eb;
    --blue-dark:   #1e3a8a;

    --purple-light: #d8b4fe;
    --purple:       #7c3aed;
    --purple-dark:  #4c1d95;

    --green-light: #bbf7d0;
    --green:       #16a34a;
    --green-dark:  #14532d;

    --yellow-light: #fef08a;
    --yellow:       #f59e0b;
    --yellow-dark:  #92400e;

    --red-light:   #fecaca;
    --red:         #dc2626;
    --red-dark:    #7f1d1d;

    --orange:      #ea580c;
    --pink:        #ec4899;
    --teal:        #0d9488;
    --cyan:        #06b6d4;
}

/* Login Seite */

body {
    background-color: var(--blue-light);
    margin: 0;
}

header {
    background-color: var(--blue-dark);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 10px;
}

main {
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--blue-dark);
    color: white;
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
    }
}


